body {
    background-color: lightblue;
    color: #333; 
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 40; 
    padding: 40; 
  }

div {
    border: 4px;
    text-align: center;
}



img{
    height: 300px;
    width: 300px;
    padding: 10px;
    
}

.test{
    height: 400px;
}
