body {
    background-color: lightblue;
    
    
  }

div {
    border: 4px;
    text-align: center;
    
}



img{
    height: 300px;
    width: 300px;
    padding: 10px;
}

.test{
    height: 400px;
}
